<div class="col-12 col-lg-6">
  <div class="blog-roll-card">
    <div class="blog-roll-card-meta">
      <h2 class="blog-roll-card-header"><a href="<%= blog_path(post.slug) %>"><%= post.title %></a></h2>
      <ul class="blog-roll-card-meta-info">
        <li>
          <a href="javascript:void(0)"><img src="<%= post.author.profile_image.present? ? post.author.profile_image : "assets/images/team/team-1.png" %>" alt="#"><%= post.author.first_name + " " + post.author.last_name %></a>
        </li>
        <li>
          <a href="javascript:void(0)"><i class="lni lni-calendar"></i> <%= DateTime.parse(post.published).strftime("%d %b %Y") %>
          </a>
        </li>
        <% post.tags.each do |tag| %>
          <li>
            <a href="<%= tag_path(tag.slug) %>"><i class="lni lni-tag"></i> <%= tag.name %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <% if post.featured_image.present? %>
      <div class="single-post-thumbnail">
        <img src="<%= post.featured_image %>" alt="<%= post.featured_image_alt %>">
      </div>
    <% end %>
    <div class="blog-roll-card-body">
      <p><%= post.summary %></p>
    </div>
    <div class="blog-roll-card-footer text-center">
      <a href="<%= blog_path(post.slug) %>" class="main-btn btn-hover">Read More</a>
    </div>
  </div>
</div>
