<section id="blog-roll" class="blog-roll-nav">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center">
          <h2><%= @page_data.breadcrumbs.title %></h2>
          <ul class="breadcrumb-nav">
            <% @page_data.breadcrumbs.crumbs.each do |c| %>
              <li><a href="<%= c.url.present? ? c.url : "javascript:void(0)" %>"><%= c.title %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-posts">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Blog Posts -->
      <%= render partial: 'blog_roll_cards', locals: { posts: @posts } %>
      <!-- Widgets Column -->
      <aside class="col-12 col-lg-4">
        <%= render partial: 'search_widget' %>
        <%= render partial: 'categories_widget', locals: { categories: @categories } %>
      </aside>
    </div>
  </div>
</section>
