<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= @page_data.seo.title %></title>
    <meta name="description" content="<%= @page_data.seo.description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/butter-favicon.png"/>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/lineicons.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
  </head>
  <body>
    <%# ===== IE browsehappy warning ===== %>
    <%= render :partial => 'components/browsehappy' %>
    <%# ===== preloader ===== %>
    <%= render :partial => 'components/preloader' %>
    <%# ===== header ===== %>
    <%= render :partial => 'components/header', :locals => { :menu_items => @menu_items } %>
    <%# ===== blog content ===== %>
    <%= yield %>
    <%# ===== footer ===== %>
    <%= render :partial => 'components/footer', :locals => { :menu_items => @menu_items } %>
    <%# ===== scrolltop button ===== %>
    <%= render :partial => 'components/scrolltop' %>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/polyfill.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
