<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= @page_data.seo.title %></title>
    <meta name="description" content="<%= @page_data.seo.description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="butter-favicon.png"/>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/lineicons.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link 
		rel="preload" 
		href="assets/css/tiny-slider.css" 
		as="style" 
		onload="this.onload=null;this.rel='stylesheet'"
	  >
    <noscript><link rel="stylesheet" href="assets/css/tiny-slider.css"></noscript>
  </head>
  <body>
    <%# ===== IE browsehappy warning ===== %>
    <%= render :partial => 'components/browsehappy' %>
    <%# ===== preloader ===== %>
    <%= render :partial => 'components/preloader' %>
    <%# ===== header ===== %>
    <%= render :partial => 'components/header', :locals => { :menu_items => @menu_items } %>
    <%# ===== butterCMS components ===== %>
    <%= yield %>
    <%# ===== latest blog posts ===== %>
    <%= render :partial => "components/latest_blog_posts", :locals => { :posts => @latest_blog_posts } %>
    <%# ===== footer ===== %>
    <%= render :partial => 'components/footer' %>
    <%# ===== scrolltop button ===== %>
    <%= render :partial => 'components/scrolltop' %>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/polyfill.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/client-slider.js"></script>
    <script src="assets/js/section-menu.js"></script>
  </body>
</html>
